<div class="mobile">
    <p style="text-align: center;">
        All packages are non-refundable.
        <a href="https://www.londonlaser.co.uk/terms-and-conditions/"
            >Terms and conditions </a
        >apply.
    </p>
    <p style="text-align: center;">
        <span style="color: #ff0000;"
            >Extra 20% OFF if you book through our App</span
        >
    </p>

    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong><span>Small Area</span> </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                >(One of the Following) Chin, Sides, Forehead, Jawline, Cheeks,
                Ears, Front Neck, Back Neck, Naval, Hands, feet, Bikini Line,
                Underarms</span
            >
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div
                style="width: 33%; font-size: 16px; font-weight: bold; color: #848484;"
            >
                <span
                    data-sheets-value='{"1":3,"3":39}'
                    data-sheets-userformat='{"2":31299,"3":[null,4,"\"£\"#,##0",1],"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >
                    £43</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£18</span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£108 Total</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 75px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-size: 24px; font-weight: bold; color: red;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£234\n£29 per session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£15</span
                >
                <p style="text-align: center; padding: 3px; margin-top: -20px;">
                    <a
                        href="https://www.londonlaser.co.uk/get-offer/"
                        style="color: white; background-color: red; font-size: 15px;"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Get Offer
                    </a>
                </p>
                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£234\n£29 per session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£120 Total</span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong><span>Medium Area</span> </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                >(One of the Following) Full Face, Holly wood &amp; Perianal,
                Brazilian, Buttocks, Lower Arms, Upper Arms, Lower Back, Chest,
                Abdomen</span
            >
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div
                style="width: 33%; font-size: 16px; font-weight: bold; color: #848484;"
            >
                <span
                    data-sheets-value='{"1":3,"3":39}'
                    data-sheets-userformat='{"2":31299,"3":[null,4,"\"£\"#,##0",1],"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >
                    £82</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£33
                </span>

                &nbsp;
            </div>
            <div style="width: 25%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£198 Total</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-weight: bold; color: red; font-size: 24px;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£234\n£29 per session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£30
                </span>

                &nbsp;
            </div>
            <div style="width: 25%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£234\n£29 per session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£240 Total</span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong><span>Large Area</span> </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                >(One of the Following) Lower Legs, Full Arms, Upper Legs, Upper
                Back</span
            >
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div
                style="width: 33%; font-size: 16px; font-weight: bold; color: #848484;"
            >
                <span
                    data-sheets-value='{"1":3,"3":39}'
                    data-sheets-userformat='{"2":31299,"3":[null,4,"\"£\"#,##0",1],"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >
                    £127</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£52
                </span>

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                >
                    £312 Total</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-weight: bold; color: red; font-size: 24px;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£234\n£29 per session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£47
                </span>

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£234\n£29 per session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£376 Total</span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong
                ><span
                    data-sheets-value='{"1":2,"2":"Intimate Area\n\n(All of the Following)\nFull Hollywood (Bikini Line, Pubic, Penis, Testicles, Perianal)"}'
                    data-sheets-userformat='{"2":14915,"3":{"1":0},"4":[null,2,16382457],"9":0,"12":0,"14":[null,2,6710886],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10}'
                    >Extra Large Area</span
                >
            </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Intimate Area\n\n(All of the Following)\nFull Hollywood (Bikini Line, Pubic, Penis, Testicles, Perianal)"}'
                data-sheets-userformat='{"2":14915,"3":{"1":0},"4":[null,2,16382457],"9":0,"12":0,"14":[null,2,6710886],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10}'
                >(One of the Following) (Full Front, Full Back inc. Shoulders,
                Full Legs)</span
            >
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div style="width: 33%; color: #848484;">
                <span style="color: #ff0000;"><strong>Now £220</strong></span>
            </div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;"></div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%;">
                <span
                    data-sheets-value='{"1":2,"2":"£645\n£107 per Session"}'
                    data-sheets-userformat='{"2":14913,"3":{"1":0},"9":1,"12":0,"14":[null,2,6710886],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10}'
                    ><span style="color: #ff0000;"
                        ><strong>Now £91</strong></span
                    >
                </span>
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£444 Total</strong></span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div style="width: 33%; font-size: 24px; color: red;">
                <strong
                    ><span
                        data-sheets-value='{"1":2,"2":"£774\n£96 per Session"}'
                        data-sheets-userformat='{"2":14913,"3":{"1":0},"9":1,"12":0,"14":[null,2,6710886],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10}'
                        >Now £82
                    </span>
                </strong>
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <strong
                    >£660<span
                        data-sheets-value='{"1":2,"2":"£1770\n£221 per Session"}'
                        data-sheets-userformat='{"2":14913,"3":{"1":0},"9":1,"12":0,"14":[null,2,6710886],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10}'
                    >
                        Total</span
                    ></strong
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong><span>Lower Face</span> </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span>Upper Lip,Chin</span>
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div
                style="width: 33%; font-size: 16px; font-weight: bold; color: #848484;"
            >
                <span
                    data-sheets-value='{"1":3,"3":39}'
                    data-sheets-userformat='{"2":31299,"3":[null,4,"\"£\"#,##0",1],"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    >Now £29</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    >Now £24
                </span>
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£145 Total</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-size: 24px; font-weight: bold; color: red;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£234\n£29 per session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >Now £21
                </span>

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£234\n£29 per session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£174 Total</span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong
                ><span
                    data-sheets-value='{"1":2,"2":"Intimate Parts\nUnder Arms,Hollywood,Perianal,Naval Line"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    >Intimate Parts</span
                >
            </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Intimate Parts\nUnder Arms,Hollywood,Perianal,Naval Line"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >Under Arms,Hollywood,Perianal,Naval Line</span
            >
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div
                style="width: 33%; font-size: 16px; font-weight: bold; color: #848484;"
            >
                <span
                    data-sheets-value='{"1":3,"3":69}'
                    data-sheets-userformat='{"2":31299,"3":[null,4,"\"£\"#,##0",1],"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    >Now £52</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    >Now £43
                </span>

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£260 Total</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-size: 24px; font-weight: bold; color: red;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>Now £39 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£312 Total</span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Clean Face\nFull Neck,Full Face"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                ><strong>Clean Face</strong></span
            >
        </p>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Clean Face\nFull Neck,Full Face"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >Full Neck,Full Face</span
            >
        </p>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Clean Face\nFull Neck,Full Face"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
            ></span>
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div
                style="width: 33%; font-size: 16px; font-weight: bold; color: #848484;"
            >
                <span
                    data-sheets-value='{"1":3,"3":79}'
                    data-sheets-userformat='{"2":31299,"3":[null,4,"\"£\"#,##0",1],"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    >Now £59</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    ><strong>Now £49 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£295 Total</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-size: 24px; font-weight: bold; color: red;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >Now £44
                </span>

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    >£354 Total</span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong
                ><span
                    data-sheets-value='{"1":2,"2":"Just Halves\nLower Legs,Lower Arms"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    >Just Halves</span
                >
            </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Just Halves\nLower Legs,Lower Arms"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >Lower Legs,Lower Arms</span
            >
        </p>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Just Halves\nLower Legs,Lower Arms"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
            ></span>
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div
                style="width: 33%; font-size: 16px; font-weight: bold; color: #848484;"
            >
                <span
                    data-sheets-value='{"1":3,"3":99}'
                    data-sheets-userformat='{"2":31299,"3":[null,4,"\"£\"#,##0",1],"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    >Now £74</span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><span style="color: #ff0000;"
                        ><strong>Now £61 </strong></span
                    >
                </span>
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£370 Total</strong></span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-weight: bold; color: red; font-size: 24px;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>Now £55 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£444 Total</strong></span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong
                ><span
                    data-sheets-value='{"1":2,"2":"Necessities\nLower Legs,Hollywood,Perianal,Naval Line,Under Arms"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    >Necessities</span
                >
            </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Necessities\nLower Legs,Hollywood,Perianal,Naval Line,Under Arms"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >Lower Legs,Hollywood,Perianal,Naval Line,Under Arms</span
            >
        </p>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Necessities\nLower Legs,Hollywood,Perianal,Naval Line,Under Arms"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
            ></span>
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div style="width: 33%; color: #848484;">
                <span style="color: #ff0000;"><strong>Now £74</strong></span>
            </div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;"></div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    ><strong>Now £61 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£370 Total</strong></span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-weight: bold; color: red; font-size: 24px;"
            >
                <div>
                    <span
                        data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                        data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                        ><strong>Now £55 </strong></span
                    >

                    &nbsp;
                </div>
                <div></div>
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£444 Total</strong></span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong
                ><span
                    data-sheets-value='{"1":2,"2":"All Essentials\nLower Legs,Lower Arms,Under Arms,Hollywood,Naval Line,Perianal"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    >All Essentials</span
                >
            </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"All Essentials\nLower Legs,Lower Arms,Under Arms,Hollywood,Naval Line,Perianal"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >Lower Legs,Lower Arms,Under Arms,Hollywood,Naval
                Line,Perianal</span
            >
        </p>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"All Essentials\nLower Legs,Lower Arms,Under Arms,Hollywood,Naval Line,Perianal"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
            ></span>
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div style="width: 33%; color: #848484;">
                <span style="color: #ff0000;"><strong>Now £104</strong></span>
            </div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;"></div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%;">
                <div>
                    <span
                        data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                        data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                        style="color: #ff0000;"
                        ><strong>Now £86 </strong></span
                    >

                    &nbsp;
                </div>
                <div></div>
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£520 Total</strong></span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-weight: bold; color: red; font-size: 24px;"
            >
                <div>
                    <span
                        data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                        data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                        ><strong>Now £78 </strong></span
                    >

                    &nbsp;
                </div>
                <div></div>
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£624 Total</strong></span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong
                ><span
                    data-sheets-value='{"1":2,"2":"Lower Body\nFull Legs,Hollywood,Perianal,Naval Line,Under Arms"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    >Lower Body</span
                >
            </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Lower Body\nFull Legs,Hollywood,Perianal,Naval Line,Under Arms"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >Full Legs,Hollywood,Perianal,Naval Line,Under Arms</span
            >
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div style="width: 33%; color: #848484;">
                <span style="color: #ff0000;"><strong>Now £119</strong></span>
            </div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;"></div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    ><strong>Now £99 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£595 Total</strong></span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-weight: bold; color: red; font-size: 24px;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>Now £89 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£714 Total</strong></span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong
                ><span
                    data-sheets-value='{"1":2,"2":"Almost Full\nFull Legs,Full Arms,Hollywood,Naval Line,Perianal,Under Arms,Nipples,Buttocks"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    >Almost Full</span
                >
            </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Almost Full\nFull Legs,Full Arms,Hollywood,Naval Line,Perianal,Under Arms,Nipples,Buttocks"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >Full Legs,Full Arms,Hollywood,Naval Line,Perianal,Under
                Arms,Nipples,Buttocks</span
            >
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div style="width: 33%; color: #848484;">
                <span style="color: #ff0000;"><strong>Now £169</strong></span>
            </div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;"></div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    ><strong>Now £140 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£845 Total</strong></span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-weight: bold; color: red; font-size: 24px;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>Now £126 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£1,014 Total</strong></span
                >
            </div>
        </div>
    </div>
    <div
        style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; background-color: #13283e; color: white;"
    >
        <h4 style="text-align: center; color: white;">
            <strong
                ><span
                    data-sheets-value='{"1":2,"2":"Bare Body\nTop to Toe Full Body excluding Face"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                    >Full Body</span
                >
            </strong>
        </h4>
        <p style="padding-bottom: 0; text-align: center;">
            <span
                data-sheets-value='{"1":2,"2":"Bare Body\nTop to Toe Full Body excluding Face"}'
                data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":0,"12":0,"14":[null,2,2172201],"15":"\"Nunito Sans\", sans-serif","16":10,"17":1}'
                >Top to Toe Full Body
            </span>
        </p>

        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Single Treatment</div>
            <div style="width: 33%; color: #848484;">
                <span style="color: #ff0000;"><strong>Now £199</strong></span>
            </div>
            <div style="width: 33%; font-size: 16px; font-weight: bold;"></div>
        </div>
        <div
            style="display: flex; width: 100%; text-align: center; border-bottom: 1px solid silver; padding: 16px 10px 16px 10px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 6 (Per Session)</div>
            <div style="width: 33%;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    style="color: #ff0000;"
                    ><strong>Now £165 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£995 Total</strong></span
                >
            </div>
        </div>
        <div
            style="display: flex; width: 100%; padding-left: 10px; text-align: center; padding-right: 10px; padding-top: 16px; height: 60px;"
        >
            <div style="width: 33%;">Pack of 8 (Per Session)</div>
            <div
                style="width: 33%; font-weight: bold; color: red; font-size: 24px;"
            >
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>Now £149 </strong></span
                >

                &nbsp;
            </div>
            <div style="width: 33%; font-size: 12px; font-weight: bold;">
                <span
                    data-sheets-value='{"1":2,"2":"£195\n£32 per Session"}'
                    data-sheets-userformat='{"2":31299,"3":{"1":0},"4":[null,2,16777215],"9":1,"12":0,"14":[null,2,0],"15":"\"Open Sans\", Helvetica, Arial, Lucida, sans-serif","16":10,"17":1}'
                    ><strong>£1,194 Total</strong></span
                >
            </div>
        </div>
    </div>
</div>
